*/.DS_Store
.DS_Store
.DS_Store?
Export/
project/all_objs
project/obj
project/vc*.pdb
project/winrt/shaders/
*.userprefs
*.swp
.idea/
*.iml
tools/*.n
tools/*.exe
haxedoc.xml
docs/*.xml
docs/pages*
legacy/project/all_objs
legacy/project/obj
